.sec__1 {
  background: url(.//assets/img/toppage.jpg);
  background-size: cover;
}

.side__logo--1 {
  position: relative;
  left: -210px;
  top: 170px;
  width: 600px;
  height: 250px;
  transform: rotate(-90deg);
  margin-left: 0;
}
.side__logo--1 h1 {
  font-weight: 800;
  font-size: 150px;
  line-height: 170px;
  color: rgba(255, 255, 255, 0.23);
}

.sec__content--1 {
  position: relative;
  top: 250px;
  left: 980px;
  width: 480px;
  height: 220px;
  background: rgba(171, 59, 250, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  z-index: 0;
}
.sec__content--1 h3 {
  color: white;
  font-weight: 800;
  font-size: 20px;
  display: block;
  padding-top: 25px;
  padding-left: 25px;
}
.sec__content--1 h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  color: white;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
}
.sec__content--1 p {
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
}
.sec__content--1 .border1 {
  position: relative;
  top: 30px;
  left: 25px;
  width: 170px;
  height: 3px;
  border-bottom: 1px solid #FFFFFF;
}

.sec__bottom--1 {
  width: 400px;
  height: 100px;
  display: flex;
  position: relative;
  top: 290px;
  left: 150px;
}
.sec__bottom--1 h3 {
  font-weight: 500;
  color: white;
}
.sec__bottom--1 .border2--1 {
  padding: 7px 10px 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  height: 3px;
  border-bottom: 2px solid #ffffff;
}

.sec__2 {
  background: url(.//assets/img/video.jpg);
  background-size: cover;
}

.sec__content--2 {
  position: relative;
  top: 540px;
  left: 80px;
  width: 480px;
  height: 220px;
  background: #A71987;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  z-index: 0;
}
.sec__content--2 h3 {
  color: white;
  font-weight: 800;
  font-size: 20px;
  display: block;
  padding-top: 25px;
  padding-left: 25px;
}
.sec__content--2 h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  color: white;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
}
.sec__content--2 p {
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
}

.side__logo--2 {
  position: relative;
  left: 1190px;
  top: 30px;
  width: 600px;
  height: 250px;
  transform: rotate(-90deg);
  margin-left: 0;
}
.side__logo--2 h1 {
  font-weight: 800;
  font-size: 150px;
  line-height: 170px;
  color: rgba(255, 255, 255, 0.23);
}

.sec__bottom--2 {
  width: 400px;
  height: 100px;
  display: flex;
  position: relative;
  top: 290px;
  left: 1100px;
}
.sec__bottom--2 h3 {
  font-weight: 500;
  color: white;
}
.sec__bottom--2 .border2--2 {
  padding: 7px 10px 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  height: 3px;
  border-bottom: 2px solid #ffffff;
}

.sec__3 {
  background: url(.//assets/img/backside.jpg);
  background-size: cover;
}

.sec__content--3 {
  position: relative;
  top: 250px;
  left: 980px;
  width: 480px;
  height: 220px;
  background: rgba(5, 227, 0, 0.85);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  z-index: 0;
}
.sec__content--3 h3 {
  color: white;
  font-weight: 800;
  font-size: 20px;
  display: block;
  padding-top: 25px;
  padding-left: 25px;
}
.sec__content--3 h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  color: white;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
}
.sec__content--3 p {
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
}
.sec__content--3 .border1 {
  position: relative;
  top: 30px;
  left: 25px;
  width: 170px;
  height: 3px;
  border-bottom: 1px solid #FFFFFF;
}

.side__logo--3 {
  position: relative;
  left: -198px;
  top: 250px;
  width: 600px;
  height: 250px;
  transform: rotate(-90deg);
  margin-left: 0;
}
.side__logo--3 h1 {
  font-weight: 800;
  font-size: 150px;
  line-height: 170px;
  color: rgba(255, 255, 255, 0.23);
}

.about__main {
  width: 75%;
  height: 2600px;
  margin-top: -80px;
  margin-left: 250px;
  border-left: 1px solid white;
}
.about__main .about__content--item {
  width: 100%;
  height: 250px;
}
.about__main .about__content--item h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.54);
  margin-left: 50px;
}
.about__main .about__content--item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
}
.about__main .about__content--flex {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
.about__main .about__content--flex .about__content--img {
  width: 500px;
  height: 400px;
}
.about__main .about__content--flex .about__content--img img {
  width: 500px;
  height: 400px;
}
.about__main .about__content--flex .about__content--paragraph {
  width: 480px;
  height: 400px;
}
.about__main .about__content--flex .about__content--paragraph p {
  margin-top: 60px;
  color: white;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}
.about__main .about__content--skill {
  width: 100%;
  height: 1500px;
  margin-top: 200px;
}
.about__main .about__content--skill .about__content--titlearea {
  width: 100%;
  height: 300px;
}
.about__main .about__content--skill .about__content--titlearea h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.54);
  margin-left: 50px;
}
.about__main .about__content--skill .about__content--titlearea .about__content--subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 22px;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}
.about__main .about__content--skill .about__content--titlearea p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-top: 30px;
  margin-left: 50px;
}
.about__main .about__content--skill .about__skill--flex {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front {
  width: 40%;
  height: 400px;
  margin-left: 50px;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 22px;
  margin-bottom: 60px;
  color: white;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap {
  position: relative;
  height: 70px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap .graph--title {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 15px;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap .graph--html {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 90%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap .graph--css {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 70%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap .graph--scss {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 60%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--front .bar-graph-wrap .graph--js {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 40%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back {
  width: 40%;
  height: 400px;
  margin-right: 50px;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 22px;
  color: white;
  margin-bottom: 60px;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap {
  position: relative;
  height: 70px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap .graph--title {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 15px;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap .graph--php {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 50%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap .graph--sql {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 40%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap .graph--java {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 20%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--flex .about__skill--back .bar-graph-wrap .graph--go {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 30%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--others {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.about__main .about__content--skill .about__skill--others .about__skill--right {
  width: 40%;
  height: 300px;
  margin-left: 50px;
}
.about__main .about__content--skill .about__skill--others .about__skill--right h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 22px;
  color: white;
  margin-bottom: 50px;
}
.about__main .about__content--skill .about__skill--others .about__skill--right .bar-graph-wrap {
  position: relative;
  height: 70px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.about__main .about__content--skill .about__skill--others .about__skill--right .bar-graph-wrap .graph--title {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 15px;
}
.about__main .about__content--skill .about__skill--others .about__skill--right .bar-graph-wrap .graph--py {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 50%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--others .about__skill--right .bar-graph-wrap .graph--swift {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 30%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__skill--others .about__skill--left {
  width: 40%;
  height: 300px;
  margin-right: 50px;
}
.about__main .about__content--skill .about__skill--others .about__skill--left .bar-graph-wrap {
  position: relative;
  height: 70px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.about__main .about__content--skill .about__skill--others .about__skill--left .bar-graph-wrap .graph--titleo {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 70px;
}
.about__main .about__content--skill .about__skill--others .about__skill--left .bar-graph-wrap .graph--title {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 15px;
}
.about__main .about__content--skill .about__skill--others .about__skill--left .bar-graph-wrap .graph--swift {
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffbf00;
  width: 50%;
  border-radius: 0 4px 4px 0;
}
.about__main .about__content--skill .about__content--image {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
.about__main .about__content--skill .about__content--image img {
  margin-top: 100px;
  width: 40%;
  height: 60%;
}

.side--port {
  display: block;
}
.side--port h1 {
  position: relative;
  right: 250px;
}

.port__main {
  width: 75%;
  height: 2600px;
  margin-top: -80px;
  margin-left: 250px;
  border-left: 1px solid white;
}
.port__main .port__content--item {
  width: 100%;
  height: 250px;
}
.port__main .port__content--item h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.54);
  margin-left: 50px;
}
.port__main .port__content--item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.container {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  height: 100vh;
}

.area {
  scroll-snap-align: start;
  height: 100vh;
}

body {
  background-color: black;
}

.side__logo--common {
  position: relative;
  left: -194px;
  top: 350px;
  width: 600px;
  height: 250px;
  transform: rotate(-90deg);
  margin-left: 0;
}
.side__logo--common h1 {
  font-weight: 800;
  font-size: 150px;
  line-height: 170px;
  color: rgba(255, 255, 255, 0.23);
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.header .header__logo {
  width: 150px;
  height: 100px;
  margin-left: 130px;
}
.header .header__logo h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: white;
  padding-top: 40px;
  font-family: "Oswald", sans-serif;
}
.header .header__list {
  width: 500px;
  height: 100px;
}
.header .header__list .header__nav {
  display: flex;
}
.header .header__list .header__nav .header__nav--item {
  position: relative;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-right: 40px;
  padding-top: 70px;
  color: white;
  z-index: 3;
  font-family: "Oswald", sans-serif;
}/*# sourceMappingURL=style.css.map */