.sec__2 {
    background: url(.//assets/img/video.jpg);
    background-size: cover;
}

.sec__content--2 {
    position: relative;
    top: 540px;
    left: 80px;
    width: 480px;
    height: 220px;
    background: #A71987;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    z-index: 0;
    & h3 {
        color: white;
        font-weight: 800;
        font-size: 20px;
        display: block;
        padding-top: 25px;
        padding-left: 25px;
    }
    & h2 {
        font-weight: 800;
        font-size: 50px;
        line-height: 54px;
        color: white;
        display: block;
        padding-top: 10px;
        padding-left: 25px;
    }
    & p {
        font-weight: 800;
        font-size: 20px;
        line-height: 22px;
        color: white;
        padding-left: 25px;
        padding-top: 10px;
    }
}

.side__logo--2 {
    position: relative;
    left: 1190px;
    top: 30px;
    width: 600px;
    height: 250px;
    transform: rotate(-90deg);
    margin-left: 0;
    & h1 {
        font-weight: 800;
        font-size: 150px;
        line-height: 170px;
        color: rgba(255, 255, 255, 0.23);
    }
}

.sec__bottom--2 {
    width: 400px;
    height: 100px;
    display: flex;
    position: relative;
    top: 290px;
    left: 1100px;
    & h3 {
        font-weight: 500;
        color: white;
    }
    & .border2--2 {
        padding: 7px 10px 0 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 170px;
        height: 3px;
        border-bottom: 2px solid #ffffff;
    }
}