.side--stories {
    display: block;
    & h1 {
        position: relative;
        right: 60px;
    }
}
.stories__main{
    width: 75%;
    height: 2000px;
    margin-top: -80px;
    margin-left: 250px;
    border-left: 1px solid white;
}